@using FilesCRUD.Models;
@model Files

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Edit </h2>
    </div>

    <form method="post" asp-action="EditConfirmed">
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name"> File Name</label>
                <input type="text" class="form-control mb-3" asp-for="Name">
                <span asp-validation-for="Name" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ModifiedAt"> Modified </label>
                <input type="text" class="form-control mb-3" asp-for="ModifiedAt">
                <span asp-validation-for="ModifiedAt" class=" alert-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="ModifiedBy"> Modified By </label>
                <input type="text" class="form-control mb-3" asp-for="ModifiedBy">
                <span asp-validation-for="ModifiedBy" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Extension"> File Extension </label>
                <input type="text" class="form-control mb-3" asp-for="Extension">
                <span asp-validation-for="Extension" class=" alert-danger"></span>
            </div>
        </div>


        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Update</button>
        <a asp-controller="Files" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}